# Terraform files
.terraform/
*.tfstate
*.tfstate.backup
*.tfvars
.terraform.lock.hcl
crash.log

# Ignore local override files
override.tf
override.tf.json
*_override.tf
*_override.tf.json

# Ignore provider binaries (like the error file you got)
terraform-provider-*.exe
